@import "tailwindcss";


.Allbuses::-webkit-scrollbar{
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper{
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  height: 100%;
}
.swiper-slide {
  width:100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.CreateBusSwiperwraper .swiper-slide{
  width: 100% !important;
}
.RecentBusSwiperwraper .swiper-slide{
  width: 100% !important;
}

.RecentPromoSwiperwraper .swiper-slide{
  width: 100% !important;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagesplash  .image{
 -webkit-mask-image: url(./assets/spanimg1.png);
 -webkit-mask-size: contain;
 object-position: left;
}

